<div class="ui top attached large menu">
  <div class="ui simple dropdown icon item">
    <i class="tree icon">  Colorado Powder Forecast</i>
    <div class="menu">
      <div class="divider"></div>
      <div class="header">
        Rocky Mountain
      </div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Rocky Mountain Super Pass</span>
        <div class="menu">
          <div class="item">Copper Mountain</div>
          <div class="item">Winter Park</div>
          <div class="item">Steamboat</div>
          <div class="item">Crested Butte</div>
          <div class="item">Monarch</div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="header">
        Vail Resorts
      </div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Epic Pass</span>
        <div class="menu">
          <div class="item">Vail</div>
          <div class="item">Beaver Creek</div>
          <div class="item">Keystone</div>
          <div class="item">Breckenridge</div>
          <div class="item">Arapahoe Basin</div>
        </div>
      </div>
    </div>
  </div>
  <div class="right menu">
    <div class="ui simple dropdown item">
    Epic Pass
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Vail</div>
      <div class="item">Beaver Creek</div>
      <div class="item">Keystone</div>
      <div class="item">Breckenridge</div>
      <div class="item">Arapahoe Basin</div>
    </div>
  </div>
      <div class="ui simple dropdown item">
      Rocky Mountain Pass
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">
          <%= link_to "Copper Mountain", resort_path("copper-mountain") %>
        </div>
        <div class="item">Winter Park</div>
        <div class="item">Steamboat</div>
        <div class="item">Crested Butte</div>
        <div class="item">Monarch</div>
      </div>
    </div>
    <a class="item">
      Login
    </a>
  </div>
</div>
