@import "materialize/components/color";
$primary-color: #0D4F4A !default;
$secondary-color: #0D4F4A;
$tertiary-color: #241858;
@import "materialize";
@import "materialize/extras/nouislider";

.nudge-left {
  margin-right: 25px;
}

.nudge-right {
  margin-left: 25px;
}
