$primaryColor: #0D4F4A !default;
$secondaryColor: #0D4F4A;
$tertiaryColor: #241858;
@import "semantic-ui";

.small-label {
  font-weight: 100 !important;
  text-transform: capitalize !important;
}

.push-down {
  margin-bottom: 25px !important;
}

.bold {
  font-weight: 600;
  font-size: larger;
}

.numberCircle {
    border-radius: 50%;

    border: 2px solid #666;
    color: #666;
    text-align: center;

}
